body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: paleturquoise;
    text-align: center;
    /* background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/d/d3/BITS_Pilani-Logo.svg/1200px-BITS_Pilani-Logo.svg.png");
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: 20px 20px; */
}



.container {
    width: 400px;
    background: rgba(12, 122, 153, 0.905);
    padding: 20px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    margin: 10px 0 25px;
}

input,select, button {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    
}


button {
    background-color: #cfff3e94;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
@media(max-width:1300px)
{
   
.container {
    width: 400px;
}
.pics img{
    width:350px;
}
.polo img{
    width: 550px;
    height: auto;
    margin-left: -80px;
}
    }

#responseMessage {
    margin-top: 10px;
    font-weight: bold;
}
input[type="radio"] {
    transform: translateY(25px); 
    margin-left: 10%;
    
    vertical-align: middle;
}
input[type="checkbox"] {
    transform: translateX(-150px); 

}
input{
    background-color: aquamarine;
}
option{
    background-color: bisque;
}
select{
    background-color: aquamarine;
}
@media(min-width:1300px){

.VARSITY{
    position: absolute;
    right: 5px;
    font-weight: bold;
    
}

.hoodie{
    position: absolute;
    top: 750px;
    left: 5px;
    font-weight: bold;
}
.tshirt{
    position: absolute;
    left: 0;
    font-weight: bold;
}
.polo{
    position: absolute;
    right: -50px;
    top:750px;
    
    font-weight: bold;
}
.polo img{

    width:650px;
}
}
@media(max-width:480px)
{
    input[type="checkbox"] {
        transform: translateX(-100px); 
    }
.container {
    width: 250px;
}
.pics img{
    width:250px;
}
.polo img{
    width: 400px;
    height: auto;
    margin-left: -80px;
}
input[type="radio"] {
    transform: translateY(25px); 
    margin-left: 30%;
    
    vertical-align: middle;
}
    }
body img:hover{
    transform: scale(1.12);
}
body img{
    transition: transform 1s ease-in-out;
}
